.navbar-container {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    color: $font-cool;
    font-family: Garamond;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .home-button {
      margin: 0 .5rem;
      display: block;
      border: none;
      outline: none;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      font-family: Garamond;
      font-weight: bold;
      font-size: 1.25rem;
      color: white;
      background-color: $backgroung-light-cool;
      transition: .3s;
      cursor: pointer;
      i {
        font-size: 1rem;
        color: white;
      }
      &:hover {
        background-color: $font-cool;
      }
    }

    p {
      font-family: Garamond;
      font-weight: bold;
      font-size: 2rem;
      margin: 0 .5rem;
      color: $backgroung-light-cool;
      transition: .3s;
  
      &:hover {
        cursor: pointer;
        color: $font-cool;
      }
  
      &.active {
        color: $font-cool;
        &:hover {
          cursor: default;
        }
      }
    }
  }
}