.gallery {
  min-height: calc(90vh - 10rem);

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    text-align: center;
    font-size: 6rem;
    color: $background-light-cool;
    i {
      margin-bottom: 10rem;
    }
  }

  .images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 0 auto;

    .main-image {
      height: 25rem;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      
      .arrows {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 110%;
        height: 25rem;
        position: absolute;
        left: -5%;
        i {
          font-size: 2rem;
          color: $background-light-cool;
          transition: .3s;
          &:hover {
            cursor: pointer;
            color: $font-cool;
          }
        }
      }
    }

    .info {
        padding: .5rem 1rem;
        width: max-content;
        text-align: center;

        p {
          color: $font-cool;
          font-family: Garamond;
          font-size: 1rem;
        }
      }

      &-tall {
        height: 35rem;
        .arrows {
          height: 35rem;
        }
      }

    .show-hide-tiles {
      width: 40vw;
      margin: 1rem 0 .25rem;
      p {
        text-align: center;
        margin: 0 auto;
        width: max-content;
        color: $background-light-cool;
        font-family: Garamond;
        font-weight: bold;
        transition: .3s;
        &:hover {
          cursor: pointer;
          color: $font-cool;
        }
      }
    }

    .bottom-images {
      width: 100%;
      margin: 0 0 3rem;
      display: grid;
      grid-template-columns: repeat(7, 5rem);
      grid-gap: .25rem;
      place-items: center;
      place-content: center;
      .bottom-image {
        height: 5rem;
        width: 5rem;
        margin: 0 .5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        
        &:after {
          content: '';
          height: 100%;
          width: 100%;
          background-color: rgba($font-cool, .4);
          position: absolute;
          top: 0;
          left: 0;
          transition: .3s;
        }

        &:hover {
          cursor: pointer;
          &:after {
            background-color: rgba($font-cool, 0.1);
          }
        }
      }
    }
  }
}