.editor {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(90vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $font-cool;

  .status-container {
    height: inherit;
    min-height: inherit;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.5rem;
      color: $backgroung-light-cool;
      transition: .3s;
      cursor: pointer;

      &:hover {
        color: $font-cool
      }
    }
  }

  p {
    font-family: Garamond;
  }
  
  h2 {
    font-family: Garamond;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }

  .form-container {
    margin: 1rem;

    .inputs, .submit-button {
      input, textarea {
        color: $font-cool;
        outline: none;
        font-family: Garamond;
        margin: .25rem;
        margin-left: 0;
        padding: .5rem 1rem;
        font-size: 1.25rem;
        border: 1px solid $font-cool;
        border-radius: .15rem;
        width: 100%;
        resize: vertical;

        &:placeholder {
          color: $backgroung-dark-cool;
        }
      }
    }

    .inputs {
      button {
        display: block;
        border: none;
        outline: none;
        padding: .55rem 2.5rem;
        font-family: Garamond;
        font-weight: bold;
        font-size: 1.25rem;
        color: white;
        background-color: $font-cool;
        transition: .3s;
        
        &.enabled {
          cursor: pointer;
          &:hover {
            background-color: $backgroung-light-cool;
          }
        }
        
        &.disabled {
          background-color: $backgroung-light-cool;
        }
      }

      .copyright-container {
        margin: .25rem 0;
        span {
          display: flex;
          align-items: center;
          color: $backgroung-light-cool;
          transition: .3s;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: Garamond;
          margin: 0 .25rem 0 0;

          &:hover {
            color: $font-cool
          }
        }
      }
    }

    .image-to-add-showcase {
      margin: 1rem 0;

      p {
        color: $backgroung-light-cool;
        font-size: 1.25rem;
        font-family: Garamond;
        font-weight: bold;
        margin-bottom: .5rem;
      }

      .image-showcase-container {
        display: grid;
        grid-template-columns: repeat(9, 5rem);
        grid-gap: .75rem;
        .image-showcase {
          height: 5rem;
          width: 5rem;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;

          .remove-image-button {
            position: absolute;
            top: -.5rem;
            right: -.5rem;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $backgroung-light-cool;
            color: white;
            transition: .3s;
            cursor: pointer;
            
            &:hover {
              background-color: $font-cool;
            }
          }
        }
      }
    }

    .update-images {
      width: 100%;
      margin: 3rem 0 0 0;
    }

    .submit-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
      input {
        width: auto;
        flex-grow: 1;
      }
      button {
        margin: 1rem auto;
        display: block;
        border: none;
        outline: none;
        padding: .55rem 1.5rem;
        font-family: Garamond;
        font-weight: bold;
        font-size: 1.25rem;
        color: white;
        
        &.enabled {
          background-color: $font-cool;
          transition: .3s;
          cursor: pointer;
          &:hover {
            background-color: $backgroung-light-cool;
          }
        }

        &.disabled {
          background-color: $backgroung-light-cool;
        }
      }
    }
  }
 
  .update-container {
    .image-showcase {
      &:after {
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgba($font-cool, .4);
        position: absolute;
        top: 0;
        left: 0;
        transition: .3s;
      }

      &:hover {
        cursor: pointer;
        &:after {
          background-color: rgba($font-cool, 0.1);
        }
      }
    }
  }
}