$font-cool: rgb(65, 64, 76);

$background-light-cool: rgb(204, 200, 206);
$background-light-warm: rgb(187, 177, 171);
$background-dark-cool: rgb(141, 128, 137);
$background-dark-warm: rgb(120, 105, 99);