$font-cool: rgb(65, 64, 76);

$backgroung-light-cool: rgb(204, 200, 206);
$backgroung-light-warm: rgb(187, 177, 171);
$backgroung-dark-cool: rgb(141, 128, 137);
$backgroung-dark-warm: rgb(120, 105, 99);