.Bio {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(90vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .profile-picture-container {
    height: 10rem;
    width: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 1rem 0;
  }

  p {
    width: 100%;
    font-family: Garamond;
    color: $font-cool;
    font-size: 1.25rem;
    margin: 1rem 0;
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .Bio {
    width: 60vw;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .Bio {
    width: 70vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
 .Bio {
    width: 80vw;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}